<div class="ui-meganav-panel md:grid-cols-2">
  <div>
    <p class="ui-meganav-overline">By realtime use case</p>
    <ul>
      <li>
        <a href="" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">Chat</p>
          <p class="ui-meganav-media-copy">Some copy will come here soon and it won’t be longer than 80 characters. 80 now.</p>
        </a>
      </li>
      <li>
        <a href="" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">Presence</p>
          <p class="ui-meganav-media-copy">Some copy will come here soon and it won’t be longer than 80 characters. 80 now.</p>
        </a>
      </li>
      <li>
        <a href="" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">Geolocation</p>
          <p class="ui-meganav-media-copy">Some copy will come here soon and it won’t be longer than 80 characters. 80 now.</p>
        </a>
      </li>
      <li>
        <a href="" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">Multi-user spaces</p>
          <p class="ui-meganav-media-copy">Some copy will come here soon and it won’t be longer than 80 characters. 80 now.</p>
        </a>
      </li>
      <li>
        <a href="" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">Charts & Dashboards</p>
          <p class="ui-meganav-media-copy">Some copy will come here soon and it won’t be longer than 80 characters. 80 now.</p>
        </a>
      </li>
      <li>
        <a href="" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">Live Updates & Results</p>
          <p class="ui-meganav-media-copy">Some copy will come here soon and it won’t be longer than 80 characters. 80 now.</p>
        </a>
      </li>
      <li>
        <a href="" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">IoT Device Control</p>
          <p class="ui-meganav-media-copy">Some copy will come here soon and it won’t be longer than 80 characters. 80 now.</p>
        </a>
      </li>
      <li>
        <a href="" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">Streaming Data Sources</p>
          <p class="ui-meganav-media-copy">Some copy will come here soon and it won’t be longer than 80 characters. 80 now.</p>
        </a>
      </li>
    </ul>
  </div>

  <div>
    <p class="ui-meganav-overline">By industry use case</p>
    <ul>
      <li>
        <a href="" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">EdTech</p>
          <p class="ui-meganav-media-copy">Some copy will come here soon and it won’t be longer than 80 characters. 80 now.</p>
        </a>
      </li>
      <li>
        <a href="" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">Automotive, Logistics, & Mobility</p>
          <p class="ui-meganav-media-copy">Some copy will come here soon and it won’t be longer than 80 characters. 80 now.</p>
        </a>
      </li>
      <li>
        <a href="" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">B2B Platforms</p>
          <p class="ui-meganav-media-copy">Some copy will come here soon and it won’t be longer than 80 characters. 80 now.</p>
        </a>
      </li>
      <li>
        <a href="" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">Healthcare</p>
          <p class="ui-meganav-media-copy">Some copy will come here soon and it won’t be longer than 80 characters. 80 now.</p>
        </a>
      </li>
      <li>
        <a href="" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">eCommerce & Retail</p>
          <p class="ui-meganav-media-copy">Some copy will come here soon and it won’t be longer than 80 characters. 80 now.</p>
        </a>
      </li>
      <li>
        <a href="" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">Sports & Media</p>
          <p class="ui-meganav-media-copy">Some copy will come here soon and it won’t be longer than 80 characters. 80 now.</p>
        </a>
      </li>
      <li>
        <a href="" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">Gaming</p>
          <p class="ui-meganav-media-copy">Some copy will come here soon and it won’t be longer than 80 characters. 80 now.</p>
        </a>
      </li>
      <li>
        <a href="" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">IoT & Connected Devices</p>
          <p class="ui-meganav-media-copy">Some copy will come here soon and it won’t be longer than 80 characters. 80 now.</p>
        </a>
      </li>
    </ul>
  </div>
</div>
