# This file defines who is responsible for different parts of the codebase
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Only set ownership on our package management files to help with dependabot updates
package.json @ably/team-website
yarn.lock @ably/team-website
