version: 2

updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 2
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
      - dependency-name: "posthog-js"
    groups:
      storybook:
        patterns:
          - "@storybook/*"
          - "storybook"
      ts-eslint:
        patterns:
          - "@typescript-eslint/*"
      svgr:
        patterns:
          - "@svgr/*"
      swc:
        patterns:
          - "@swc/*"
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 2
    allow:
      - dependency-name: "posthog-js"
