.ui-cookie-message {
  @apply rounded-lg bg-white font-sans;
  @apply justify-between items-center;
  @apply opacity-100 z-50 bottom-0 fixed sm:flex;
  @apply p-16 mb-16 ml-16;
  max-width: 70vw;
  box-shadow: 0px 24px 32px 0px #0000000d;
  border: 1px solid var(--color-mid-grey);
  border-left: 0.5rem solid var(--color-electric-cyan);
  transition: bottom 250ms ease-out, opacity 150ms ease-out;
}
