<section class="ui-meganav-content ui-grid-gap md:grid-cols-3">
  <div>
    <h3 class="ui-meganav-overline" id="meganav-why-ably-panel-list-why-companies">Why companies choose Ably</h3>
    <ul aria-labelledby="meganav-why-ably-panel-list-why-companies">
      <li>
        <a href="/customers" class="group ui-meganav-media py-12">
          <p class="ui-meganav-media-heading">Customer stories</p>
        </a>
      </li>

      <li>
        <a href="/compare" class="group ui-meganav-media py-12">
          <p class="ui-meganav-media-heading">Compare our tech</p>
        </a>
      </li>

      <li>
        <a href="/aws" class="group ui-meganav-media py-12">
          <p class="ui-meganav-media-heading">Ably & AWS</p>
        </a>
      </li>

      <li>
        <a href="/resources/datasheets" class="group ui-meganav-media py-12">
          <p class="ui-meganav-media-heading">Resources</p>
        </a>
      </li>
    </ul>
  </div>

  <div>
    <h3 class="ui-meganav-overline" id="meganav-why-ably-panel-list-four-pillars">Four pillars of dependability</h3>
    <ul class="mb-8" aria-labelledby="meganav-why-ably-panel-list-four-pillars">
      <li>
        <a href="/four-pillars-of-dependability#performance" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">Predictable performance</p>
          <p class="ui-meganav-media-copy">A low-latency global edge network across 200+ PoPs.</p>
        </a>
      </li>
      <li>
        <a href="/four-pillars-of-dependability#integrity" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">Guaranteed ordering & delivery</p>
          <p class="ui-meganav-media-copy">We guarantee in-order data delivery, even after disconnections.</p>
        </a>
      </li>
      <li>
        <a href="/four-pillars-of-dependability#reliability" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">Fault tolerant infrastructure</p>
          <p class="ui-meganav-media-copy">Redundant at regional and global levels with 99.999% uptime SLAs.</p>
        </a>
      </li>
      <li>
        <a href="/four-pillars-of-dependability#availability" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">High scalability & availability</p>
          <p class="ui-meganav-media-copy">Elastic, battle-tested global infrastructure for massive scale.</p>
        </a>
      </li>
    </ul>

    <%= render(AblyUi::Core::FeaturedLink.new(url: "/four-pillars-of-dependability")) do %>Explore our Four Pillars of Dependability<% end %>
  </div>

  <div>
    <h3 class="ui-meganav-overline" id="meganav-why-ably-panel-list-blog">Blog</h3>
    <ul class="mb-8" aria-labelledby="meganav-why-ably-panel-list-blog">
      <!-- Without thumb until we fetch them dynamically, use CSS class ui-meganav-media-with-image -->
      <li>
        <a href="/blog/ably-flutter-plugin" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">Introducing the Ably Flutter plugin</p>
          <p class="ui-meganav-media-copy">Jan 20, 2021</p>
        </a>
      </li>
      <li>
        <a href="/blog/4-essential-infrastructure-considerations-for-realtime-edtech-applications" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">4 essential infrastructure considerations for realtime EdTech applications</p>
          <p class="ui-meganav-media-copy">Jan 12, 2021</p>
        </a>
      </li>
      <li>
        <a href="/blog/6-realtime-engineering-challenges-for-edtech-applications" class="ui-meganav-media group">
          <p class="ui-meganav-media-heading">6 realtime engineering challenges for EdTech applications</p>
          <p class="ui-meganav-media-copy">Jan 05, 2021</p>
        </a>
      </li>
    </ul>

    <%= render(AblyUi::Core::FeaturedLink.new(url: "/blog")) do %>More from our Blog<% end %>
  </div>
</section>
