@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,600;0,700;1,600;1,700&display=swap");
}

@layer components {
  .hljs {
    background: var(--syntax-black);
    color: var(--syntax-light-grey);
  }

  .hljs-emphasis {
    @apply italic;
  }

  .hljs-strong {
    @apply font-bold;
  }

  .hljs-comment,
  .hljs-quote {
    color: var(--syntax-dark-grey);
  }

  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-regexp,
  .hljs-deletion {
    color: var(--syntax-red);
  }

  .hljs-number,
  .hljs-built_in,
  .hljs-literal,
  .hljs-type,
  .hljs-params,
  .hljs-meta,
  .hljs-link {
    color: var(--syntax-orange);
  }

  .hljs-attribute {
    color: var(--syntax-yellow);
  }

  .hljs-string,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition {
    color: var(--syntax-green);
  }

  .hljs-title,
  .hljs-section {
    color: var(--syntax-blue);
  }

  .hljs-keyword,
  .hljs-selector-tag {
    color: var(--syntax-lilac);
  }

  .hljs-subst {
    color: var(--syntax-mid-grey);
  }
}
