<%= render(TitleComponent.new(react: false, vw: true)) do %>
  Company Autocomplete
<% end %>

<div class="max-w-screen-xs">
	<input type="text" placeholder="Company name" class="w-full" name="company" />
</div>

<% content_for :component do %>
  <%= javascript_packs_with_chunks_tag 'company-autocomplete-vw' %>
<% end %>
