<%= render(TitleComponent.new(react: false, vw: true)) do %>
  Showcase
<% end %>

<p class="text-p1 font-light font-sans antialiased mb-8">Showcase component in a large container with slideshow enabled</p>

<div class="my-32 max-w-screen-xl">
  <%= render(AblyUi::Core::Showcase.new) %>
</div>

<p class="text-p1 font-light font-sans antialiased mb-8 mt-32">Showcase component in a small container with slideshow disabled</p>

<div class="my-32 max-w-screen-sm">
  <%= render(AblyUi::Core::Showcase.new) %>
</div>

<% content_for :component_init_js do %>
  const showcases = document.querySelectorAll('[data-id="showcase"]');

  AblyUi.Core.Showcase(showcases[0], false);
  AblyUi.Core.Showcase(showcases[1], true);

  document.body.classList.add('bg-light-grey', 'm-32')
<% end %>
