<%= render(TitleComponent.new(react: true, vw: true)) do %>
  Slider
<% end %>

<h2 class="text-h2 font-sans mb-32">Slider enabled on all breakpoints</h2>
<p class="text-p2 font-sans font-light mb-32 max-w-screen-md">The Slider is not intended to be used on all breakpoints. The current slide is centered and content will overflow and be hidden. Intended usage is for only a small amount of whitespace to be present between the left edge of the viewport and the first slide.</p>
<div class="font-sans font-light max-w-screen-xl mb-64 border-1" id="slider1"></div>

<h2 class="text-h2 font-sans mb-32 max-w-screen-md">Slider enabled only on small breakpoint, with number of columns changing as the viewport grows</h2>
<div class="font-sans font-light max-w-screen-xl border-1" id="slider2"></div>

<% content_for :component do %>
  <%= javascript_packs_with_chunks_tag 'slider' %>

  <script type="text/javascript">
    document.body.classList.add("bg-light-grey", "m-32");
  </script>
<% end %>

