<%= render(TitleComponent.new(react: true, vw: false)) do %>Uptime<% end %>


<h1 class="text-h1 mt-32">Standard output </h1>
<p class="mb-32">(<a href="#" onclick="jumble()" class="underline">Generate simulated uptime issues</a>)</p>

<div class="bg-cool-black">
  <%= react_component('uptime', {
    serverUrl: "/api/uptime",
    linkTo: { href: "//status.ably.com", text: "More on our status site" },
    theme: 'dark'
  }) %>
</div>


<h1 class="text-h1 mt-96 mb-32">Error handling</h1>

<%= react_component('uptime', {
  serverUrl: "https://does-not-exist.ably.com/not/available.json",
  linkTo: { href: "//status.ably.com", text: "More on our status site" }
}) %>


<% content_for :component do %>
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
      window.jumble = () => {
        const classes = ["ui-uptime-up","ui-uptime-trouble","ui-uptime-down"];
        const array = Array.from(document.querySelectorAll(".ui-uptime-day"));
        array
          .map(el => {
            el.className = "ui-uptime-day ui-uptime-up";
            return el;
          })
          .filter(() => Math.random() > 0.7)
          .map(el => {
            const r = classes[((Math.random() * 10) % 3) >> 0];
            el.classList.add(r);
            return el;
          });

        return false;
      }
    });
  </script>
<% end %>

