<h1 class="text-h1 my-32">Standard output </h1>

<div class="bg-cool-black p-32">
  <%= react_component('uptime', {
    serverUrl: "/api/uptime",
    linkTo: { href: "//status.ably.com", text: "More on our status site" },
    theme: 'dark'
  }) %>
</div>

<h1 class="text-h1 mt-96 mb-32">Error handling</h1>

<%= react_component('uptime', {
  serverUrl: "https://does-not-exist.ably.com/not/available.json",
  linkTo: { href: "//status.ably.com", text: "More on our status site" }
}) %>

<% content_for :component do %>
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
      document.body.classList.add("bg-light-grey", "m-32");
    });
  </script>
<% end %>
