<div class="max-w-screen-md font-sans font-light">
  <p class="ui-text-p2 mb-32">Display icons. Uses <code class="ui-inline-code">&lt;use&gt;</code> to insert SVG's. Assumes the spritesheet is already present on the page (this can be done with <code class="ui-inline-code">core/load-sprites.js</code>). Takes the following arguments:</p>

  <%= render(ParameterTableComponent.new(component_parameters)) %>
</div>
