<div class="max-w-screen-md font-sans font-light">
  <p class="text-p2 text-cool-black mb-32">Display icons. Uses <code class="pi-inline-code">&lt;use&gt;</code> to insert SVG's. Assumes the spritesheet is already present on the page (this can be done with <code class="pi-inline-code">core/load-sprites.js</code>). Takes the following arguments:</p>

  <%= render(ParameterTableComponent.new(component_parameters, framework)) %>
</div>
