<div class="grid grid-cols-4 ui-grid-gap max-w-screen-lg mb-64">
  <% icons.each do |icon_name| %>
    <div class="border p-16">
      <code class="font-mono text-p2 mb-8 block"><%= icon_name %></code>
      <div class="border inline-flex flex-0">
        <%= render(AblyUi::Core::Icon.new(name: icon_name, size: "1.5rem", additional_css: "hover:text-active-orange")) %>
      </div>
    </div>
  <% end %>
</div>
