<div class="c-meganav-panel md:grid-cols-3">
  <div>
    <p class="c-meganav-overline">Documentation</p>
    <div class="relative mb-16">
      <form class="relative" action="/search" method="get">
        <svg class="absolute top-8 left-8 w-24 h-24 pt-1 mt-1 icon-cool-black">
          <%= tag.use href: "#{asset_path 'ably_ui/core/sprites.svg'}#sprite-search" %>
        </svg>
        <input
          type="search"
          name="q"
          class="c-input pl-48"
          placeholder="Search docs"
        />
      </form>
    </div>
    <p class="text-p1 text-cool-black mb-20">
      Docs, quick start guides, tutorials, and API reference to help you start building with Ably’s platform and APIs.
    </p>

    <%= render(AblyUi::Core::FeaturedLink.new(url: "/documentation")) do %>Visit Documentation<% end %>
  </div>

  <div>
    <p class="c-meganav-overline">EXPLORE</p>
    <ul>
      <li>
        <a href="/integrations" class="c-meganav-media group">
          <p class="c-meganav-media-heading">Third-party integrations & plugins</p>
          <p class="c-meganav-media-copy">Extend Ably’s platform into third party clouds and systems like AWS Lambda and AWS Kinesis.</p>
        </a>
      </li>
      <li>
        <a href="/protocols" class="c-meganav-media group">
          <p class="c-meganav-media-heading">Multi-protocol messaging</p>
          <p class="c-meganav-media-copy">Protocols serve different purposes. We support WebSockets, MQTT, SSE, and more.</p>
        </a>
      </li>
      <li>
        <a href="/hub" class="c-meganav-media group">
          <p class="c-meganav-media-heading">Streaming data sources</p>
          <p class="c-meganav-media-copy">Free streaming data sources from across industries like transport and finance.</p>
        </a>
      </li>
      <li>
        <a href="https://labs.ably.com" class="c-meganav-media group">
          <p class="c-meganav-media-heading">Ably Labs</p>
          <p class="c-meganav-media-copy">See Ably in action. See what you can do with Ably. Do more with Ably.</p>
        </a>
      </li>
    </ul>
  </div>

  <ul>
    <li>
      <a href="/download" class="group c-meganav-media py-12">
        <p class="c-meganav-media-heading">Download an SDK</p>
      </a>
    </li>

    <li>
      <a href="https://changelog.ably.com/" class="group c-meganav-media py-12">
        <p class="c-meganav-media-heading">Platform changelog</p>
      </a>
    </li>

    <li>
      <a href="/support" class="group c-meganav-media py-12">
        <p class="c-meganav-media-heading">Support & FAQs</p>
      </a>
    </li>

    <li>
      <a href="http://status.ably.io/" class="group c-meganav-media py-12">
        <p class="c-meganav-media-heading">Status</p>
      </a>
    </li>
  </ul>
</div>
