<main class="font-sans antialiased max-w-screen-xl py-40 px-32 mx-auto">
  <h1 class="text-title font-medium mb-32">Ably UI</h1>

  <section class="grid grid-cols-1 md:grid-cols-4">
    <nav class="mb-32">
      <ul>
        <li>
          <p>Components</p>
          <ul class="pl-16">
            <li>
              <a href="/components/meganav">Meganav</a>
            </li>
            <li>
              <a href="/components/contact-footer">Contact footer</a>
            </li>
            <li>
              <a href="/components/feature-footer?framework=vw">Feature footer</a>
            </li>
            <li>
              <a href="/components/showcase?framework=vw">Showcase</a>
            </li>
            <li>
              <a href="/components/footer">Footer</a>
            </li>
            <li>
              <a href="/components/code">Code</a>
            </li>
            <li>
              <a href="/components/uptime">Uptime</a>
            </li>
            <li>
              <a href="/components/flash">Flash</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#section-brand">Brand</a>
          <ul class="pl-16">
            <li>
              <a href="#section-colour">Colour</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <article class="col-span-3">
      <section id="section-brand">
        <section id="section-colour">
          <h2 class="text-h1 font-medium mb-16">Colour</h2>
          <%= render(ColoursListComponent.new) %>
        </section>
      </section>
    </article>
  <section>
</main>
