<div class="m-32">
  <a href="/" class="text-p2 text-gui-default hover:text-gui-hover font-sans font-light mb-32 block">
    Back
  </a>

  <h1 class="ui-text-title">Layout</h1>
</div>


<div class="m-32">
  <h2 class="ui-text-h2">Helper classes</h1>
</div>

<div class="ui-standard-container mb-32">
  <div class="bg-mid-grey align-center p-32">
    <p class="ui-text-h3 mb-24">ui-standard-container</p>
    <p class="ui-text-p1 ">Container that does not grow beyond the xl breakpoint (1440px), centers and contains the correct outside padding across viewport changes.</p>
  </div>
</div>

<div class="ui-standard-container mb-32">
  <div class="bg-mid-grey align-center p-32">
    <p class="ui-text-h3 mb-24">ui-grid-gap</p>
    <p class="ui-text-p1 mb-32">Add correct gaps across viewport changes.</p>
    <div class="grid grid-cols-4 ui-grid-gap">
      <div class="bg-cool-black text-white font-sans p-32 text-center">1</div>
      <div class="bg-cool-black text-white font-sans p-32 text-center">2</div>
      <div class="bg-cool-black text-white font-sans p-32 text-center">3</div>
      <div class="bg-cool-black text-white font-sans p-32 text-center">4</div>
    </div>
  </div>
</div>

<div class="ui-standard-container mb-32">
  <div class="bg-mid-grey align-center p-32">
    <p class="ui-text-h3 mb-24">ui-grid-px</p>
    <p class="ui-text-p1 mb-32">Add padding on the x axis, with correct values across viewport changes.</p>
    <div class="ui-grid-px">
      <div class="bg-cool-black text-white font-sans p-32 text-center">Text</div>
    </div>
  </div>
</div>

<div class="ui-standard-container mb-32">
  <div class="bg-mid-grey align-center p-32">
    <p class="ui-text-h3 mb-24">ui-grid-mx</p>
    <p class="ui-text-p1 mb-32">Add margin on the x axis, with correct values across viewport changes.</p>
    <div class="ui-grid-mx">
      <div class="bg-cool-black text-white font-sans p-32 text-center">Text</div>
    </div>
  </div>
</div>

