<div class="antialiased" style="margin: 32px; max-width: 600px">
  <p class="text-h1">Examples</p>

  <p class="text-paragraph">Overline + title + standfirst + body</p>

  <p class="text-overline-sm">Setting the scene</p>

  <p class="text-title">
    This way we felt that we were all working together, towards the same idea.
  </p>

  <p class="text-standfirst">
    Typography is our system of fonts. Each font conveys the appropriate
    sentiment to assist our users through each stage of their journey.
  </p>

  <p class="text-paragraph fw-medium">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eros justo,
    pulvinar ut vulputate quis, mattis at augue. Suspendisse mauris turpis,
    gravida sodales facilisis et, pharetra ac magna.
  </p>

  <p class="text-paragraph">
    Ut cursus molestie vehicula. Fusce sed nisl id lectus scelerisque facilisis
    consectetur eget nisl. Morbi scelerisque felis vel ullamcorper viverra. In
    id ante quis quam sodales auctor in a ante. Maecenas faucibus, diam sit amet
    sollicitudin pellentesque, est nulla pellentesque sapien, quis dictum tellus
    ex ut felis.
  </p>

  <p class="text-paragraph">
    Pellentesque consequat elit eget tristique sagittis. Etiam et erat et lorem
    elementum commodo. Aenean congue diam a nibh accumsan tincidunt. Ut
    malesuada odio luctus libero pulvinar, et pharetra enim volutpat. Nulla
    facilisi. Nunc facilisis lectus faucibus diam semper faucibus. Nam nulla
    metus, viverra ac mauris et, facilisis cursus ligula. Maecenas mollis orci
    lectus, in congue quam varius nec. In dui neque, ultrices a augue bibendum,
    tempor placerat arcu. Phasellus sit amet laoreet ex, non suscipit nulla.
    Mauris placerat risus sed ex porttitor ultrices. Nam elementum nisi in ante
    ultricies, vel porta mauris sollicitudin.
  </p>

  <p class="text-paragraph">H1 + standfirst + body</p>

  <p class="text-h1">
    This way we felt that we were all working together, towards the same idea.
  </p>

  <p class="text-standfirst">
    Typography is our system of fonts. Each font conveys the appropriate
    sentiment to assist our users through each stage of their journey.
  </p>

  <p class="font-next fs-md lh-md fw-medium mb-lg">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eros justo,
    pulvinar ut vulputate quis, mattis at augue. Suspendisse mauris turpis,
    gravida sodales facilisis et, pharetra ac magna.
  </p>

  <p class="text-paragraph">
    Ut cursus molestie vehicula. Fusce sed nisl id lectus scelerisque facilisis
    consectetur eget nisl. Morbi scelerisque felis vel ullamcorper viverra. In
    id ante quis quam sodales auctor in a ante. Maecenas faucibus, diam sit amet
    sollicitudin pellentesque, est nulla pellentesque sapien, quis dictum tellus
    ex ut felis.
  </p>

  <p class="text-paragraph">
    Pellentesque consequat elit eget tristique sagittis. Etiam et erat et lorem
    elementum commodo. Aenean congue diam a nibh accumsan tincidunt. Ut
    malesuada odio luctus libero pulvinar, et pharetra enim volutpat. Nulla
    facilisi. Nunc facilisis lectus faucibus diam semper faucibus. Nam nulla
    metus, viverra ac mauris et, facilisis cursus ligula. Maecenas mollis orci
    lectus, in congue quam varius nec. In dui neque, ultrices a augue bibendum,
    tempor placerat arcu. Phasellus sit amet laoreet ex, non suscipit nulla.
    Mauris placerat risus sed ex porttitor ultrices. Nam elementum nisi in ante
    ultricies, vel porta mauris sollicitudin.
  </p>

  <p class="text-paragraph">Overline 2 + H2 + sub-header + body</p>

  <p class="text-overline-sm">Setting the scene</p>

  <p class="text-h2">
    Typography is our system of fonts. Each font conveys the appropriate
    sentiment to assist our users through each stage of their journey.
  </p>

  <p class="text-sub-header">
    Maecenas mollis orci lectus, in congue quam varius nec. In dui neque,
    ultrices a augue bibendum, tempor placerat arcu.
  </p>

  <p class="text-paragraph">
    Ut cursus molestie vehicula. Fusce sed nisl id lectus scelerisque facilisis
    consectetur eget nisl. Morbi scelerisque felis vel ullamcorper viverra. In
    id ante quis quam sodales auctor in a ante. Maecenas faucibus, diam sit amet
    sollicitudin pellentesque, est nulla pellentesque sapien, quis dictum tellus
    ex ut felis.
  </p>

  <p class="text-paragraph">
    Pellentesque consequat elit eget tristique sagittis. Etiam et erat et lorem
    elementum commodo. Aenean congue diam a nibh accumsan tincidunt. Ut
    malesuada odio luctus libero pulvinar, et pharetra enim volutpat. Nulla
    facilisi. Nunc facilisis lectus faucibus diam semper faucibus. Nam nulla
    metus, viverra ac mauris et, facilisis cursus ligula. Maecenas mollis orci
    lectus, in congue quam varius nec. In dui neque, ultrices a augue bibendum,
    tempor placerat arcu. Phasellus sit amet laoreet ex, non suscipit nulla.
    Mauris placerat risus sed ex porttitor ultrices. Nam elementum nisi in ante
    ultricies, vel porta mauris sollicitudin.
  </p>
</div>
