<div class="hidden" data-id="meganav-why-ably-panel-blog-section">
  <h3 class="ui-meganav-overline" id="meganav-why-ably-panel-recent-blog-posts">Blog</h3>
  <ul class="mb-8" aria-labelledby="meganav-why-ably-panel-recent-blog-posts" data-id="meganav-why-ably-panel-recent-blog-posts"></ul>
  <%= render(AblyUi::Core::FeaturedLink.new(url: "/blog")) do %>More from our Blog<% end %>
</div>
