<div class="ui-contact-footer font-sans antialiased" data-id="contact-footer">
  <div class="w-full bp-lg max-w-screen-xl mx-auto py-64 grid grid-cols-1 md:grid-cols-3 ui-grid-gap ui-grid-px">
    <div class="ui-contact-footer-box">
      <%= render(AblyUi::Core::Icon.new(name: "icon-display-live-chat", size: "3rem", additional_css: "block mb-16")) %>
      <div>
        <div class="text-h3 mb-24">Live Chat</div>
        <p class="text-p1 font-light">Reach out team of experts over chat powered by Ably.</p>
      </div>
      <button type="button" class="ui-btn-secondary self-start mt-16" data-id="open-chat-widget" disabled>Live chat unavailable</button>
    </div>

    <div class="ui-contact-footer-box">
      <%= render(AblyUi::Core::Icon.new(name: "icon-display-call-mobile", size: "3rem", additional_css: "block mb-16")) %>
      <div class="flex-grow">
        <div class="text-h3 mb-24">Call us</div>
        <p class="text-p1 font-light">
          <span class="block"><strong class="text-p1 font-medium">+1 877 434 5287</strong> (USA, toll free) </span>
          <span class="block"><strong class="text-p1 font-medium">+44 20 3318 4689</strong> (UK) </span>
        </p>
      </div>
    </div>

    <div class="ui-contact-footer-box">
      <%= render(AblyUi::Core::Icon.new(name: "icon-display-tech-account-comms", size: "3rem", additional_css: "block mb-16")) %>
      <div>
        <div class="text-h3 mb-24">Technical and account support</div>
        <p class="text-p1 font-light">We&apos;re standing by to help with any questions or code.</p>
      </div>
      <%= link_to 'Get support now', abs_url("/support"), class: "ui-btn-secondary self-start p-btn mt-16" %>
    </div>
  </div>
</div>
