@layer components {
  .ui-contact-footer {
    background: var(--gradient-active-orange);
    background-size: 100% 100%;
    background-position: right center;
    @apply w-full;
  }

  .ui-contact-footer-box {
    @apply p-24 sm:p-32 xl:p-40 bg-white flex flex-col justify-between rounded-sm;
  }
}
