<div class="flex flex-wrap">
  <p class="ui-text-p1 mb-32">Different size buttons can be achieved by using padding and text utilities, see examples below.</p>

  <div class="p-16 mb-16 mr-16 border rounded grid justify-items-start auto-rows-min gap-16">
    <h3 class="ui-text-h3">Standard</h3>
    <button type="button" class="ui-btn">Primary button</button>
    <button type="button" class="ui-btn-alt">Primary button alternative</button>
    <button type="button" class="ui-btn-secondary">Secondary button</button>
    <button type="button" class="ui-btn" disabled>Unavailable primary button</button>
    <button type="button" class="ui-btn-alt" disabled>Unavailable primary button alternative</button>
    <button type="button" class="ui-btn-secondary" disabled>Unavailable secondary button</button>
  </div>

  <div class="p-16 mb-16 mr-16 border rounded grid justify-items-start auto-rows-min gap-16 bg-cool-black">
    <h3 class="ui-text-h3 text-white">Inverted</h3>
    <button type="button" class="ui-btn-invert">Primary button</button>
    <button type="button" class="ui-btn-secondary-invert">Secondary button</button>
    <button type="button" class="ui-btn-invert" disabled>Unavailable primary button</button>
    <button type="button" class="ui-btn-secondary-invert" disabled>Unavailable secondary button</button>
  </div>

  <div class="p-16 mb-16 mr-16 border rounded grid justify-items-start auto-rows-min gap-16">
    <h3 class="ui-text-h3">With icons</h3>
    <button type="button" class="ui-btn">
      <svg class="ui-btn-icon"><use xlink:href="#sprite-icon-gui-search"></use></svg>
      Primary button with icon
    </button>
    <button type="button" class="ui-btn-alt">
      <svg class="ui-btn-icon"><use xlink:href="#sprite-icon-gui-search"></use></svg>
      Primary button alternative with icon
    </button>
    <button type="button" class="ui-btn-secondary">
      <svg class="ui-btn-icon"><use xlink:href="#sprite-icon-gui-search"></use></svg>
      Secondary button with icon
    </button>
    <button type="button" class="ui-btn" disabled>
      <svg class="ui-btn-icon"><use xlink:href="#sprite-icon-gui-search"></use></svg>
      Unavailable primary button with icon
    </button>
    <button type="button" class="ui-btn-alt" disabled>
      <svg class="ui-btn-icon"><use xlink:href="#sprite-icon-gui-search"></use></svg>
      Unavailable primary button alternative with icon
    </button>
    <button type="button" class="ui-btn-secondary" disabled>
      <svg class="ui-btn-icon"><use xlink:href="#sprite-icon-gui-search"></use></svg>
      Unavailable secondary button with icon
    </button>
  </div>
</div>

<div class="flex flex-wrap">
  <div class="p-16 mb-16 mr-16 border rounded grid justify-items-start auto-rows-min gap-16">
    <h3 class="ui-text-h3">Extra small</h3>
    <button type="button" class="ui-btn p-btn-xsmall text-btn4">Primary button</button>
    <button type="button" class="ui-btn p-btn-xsmall text-btn4">
      <svg class="ui-btn-icon-xsmall"><use xlink:href="#sprite-icon-gui-search"></use></svg>
      Primary button with icon
    </button>
    <button type="button" class="ui-btn-alt p-btn-xsmall text-btn4">Primary button alternative</button>
    <button type="button" class="ui-btn-secondary p-btn-xsmall text-btn4">Secondary button</button>
  </div>

  <div class="p-16 mb-16 mr-16 border rounded grid justify-items-start auto-rows-min gap-16">
    <h3 class="ui-text-h3">Small</h3>
    <button type="button" class="ui-btn p-btn-small text-btn3">Primary button</button>
    <button type="button" class="ui-btn p-btn-small text-btn3">
      <svg class="ui-btn-icon-small"><use xlink:href="#sprite-icon-gui-search"></use></svg>
      Primary button with icon
    </button>
    <button type="button" class="ui-btn-alt p-btn-small text-btn3">Primary button alternative</button>
    <button type="button" class="ui-btn-secondary p-btn-small text-btn3">Secondary button</button>
  </div>

  <div class="p-16 mb-16 mr-16 border rounded grid justify-items-start auto-rows-min gap-16">
    <h3 class="ui-text-h3">Large</h3>
    <button type="button" class="ui-btn p-btn-large text-btn1">Primary button</button>
    <button type="button" class="ui-btn p-btn-large text-btn1">
      <svg class="ui-btn-icon"><use xlink:href="#sprite-icon-gui-search"></use></svg>
      Primary button with icon
    </button>
    <button type="button" class="ui-btn-alt p-btn-large text-btn1">Primary button alternative</button>
    <button type="button" class="ui-btn-secondary p-btn-large text-btn1">Secondary button</button>
  </div>
</div>
