<div class="p-16 border rounded mb-16">
  <button type="button" class="ui-btn">Primary button</button>
  <button type="button" class="ui-btn-secondary">Secondary button</button>
  <button type="button" class="ui-btn" disabled>Disabled primary button</button>
  <button type="button" class="ui-btn-secondary" disabled>Disabled secondary button</button>
</div>

<div class="p-16 border rounded bg-cool-black">
  <button type="button" class="ui-btn-invert">Primary button</button>
  <button type="button" class="ui-btn-secondary-invert">Secondary button</button>
  <button type="button" class="ui-btn-invert" disabled>Disabled primary button</button>
  <button type="button" class="ui-btn-secondary-invert" disabled>Disabled secondary button</button>
</div>
