  <% colours.each do |group| %>
    <h3 class="ui-text-h2 mb-16"><%= group[:group_name] %></h3>

    <ul class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-32 mb-40">
      <% group[:group_colours].each do |color| %>
        <li>
          <%= tag.div class: ["w-full", "h-64", "mb-16", color[:bg]] %>
          <p class="ui-text-p1"><%= color[:name] %></p>
          <p class="ui-text-p2">hex <%= color[:hex] %></p>
        </li>
      <% end %>
    </ul>
  <% end %>
