<div class="ui-feature-footer" data-id="feature-footer">
  <div class="w-full bp-lg max-w-screen-xl mx-auto py-64 md:grid grid-cols-3 ui-grid-gap ui-grid-px">
    <div class="col-span-2 bg-cool-black text-white rounded-lg overflow-hidden sm:flex flex-row mb-24 md:mb-0">
      <div
        class="ui-feature-image flex-0 bg-center bg-cover w-full h-256 sm:w-1/2 sm:h-auto"
        style="background-image:url(<%= asset_path("ably_ui/core/images/technical-support-01-800x533.jpg")%>)"
      ></div>
      <div class="p-24 sm:p-32 flex-1 h-full">
        <div class="flex flex-row flex-col h-full space-between">
          <span class="flex-1">
            <div class="text-h3 mb-24 flex-1">Talk to our technical team</div>
            <p class="text-p1 font-light">If you&apos;re having technical or account issues just get in touch.</p>
            <button
              type="button"
              class="ui-btn-secondary-invert self-start mt-24"
              data-id="open-chat-widget"
              disabled
            >
              Live chat unavailable
            </button>
          </span>
          <span class="flex-0 mt-24 md:mt-0">
            <p class="text-p1 font-light">
              Don’t want to chat?
              <a href="/contact" class="text-white underline font-medium hover:text-gui-hover focus:text-gui-focus focus:outline-gui-focus">Get in touch via our contact page</a>.
            </p>
          </span>
        </div>
      </div>
    </div>

    <div class="bg-white rounded-lg p-24 sm:p-32 w-auto">
      <div class="flex flex-col h-full space-between">
        <span class="flex-1">
          <div class="text-h3 mb-24">Try our APIs for free</div>
          <p class="text-p1 font-medium mb-16">Our free plan includes</p>
          <ul class="relative ml-24 text-p1 font-light leading-8">
            <li>
              <svg class="absolute l-0 -ml-24 mt-8 ui-list-icon w-12 h-12">
                <use xlink:href="#sprite-tick"></use>
              </svg>
              3m messages per month
            </li>
            <li>
              <svg class="absolute l-0 -ml-24 mt-8 ui-list-icon w-12 h-12">
                <use xlink:href="#sprite-tick"></use>
              </svg>
              100 peak connections
            </li>
            <li>
              <svg class="absolute l-0 -ml-24 mt-8 ui-list-icon w-12 h-12">
                <use xlink:href="#sprite-tick"></use>
              </svg>
              100 peak channels
            </li>
            <li>
              <svg class="absolute l-0 -ml-24 mt-8 ui-list-icon w-12 h-12">
                <use xlink:href="#sprite-tick"></use>
              </svg>
              Loads of features
            </li>
          </ul>
        </span>
        <span class="flex-0">
          <a class="ui-btn-secondary self-start mt-24" href="/sign-up">Start with a free account</a>
        </span>
      </div>
    </div>
  </div>
</div>
