@layer components {
  .ui-feature-footer {
    background: var(--gradient-active-orange);
    background-size: 100% 100%;
    background-position: right center;
    @apply w-full font-sans antialiased bg-gradient-active-orange;
  }

  .ui-feature-footer-box {
    @apply p-24 sm:p-32 xl:p-40 flex flex-col justify-between rounded-sm;
  }
}
