@layer components {
  .ui-uptime-widget {
    --status-up: var(--uptime-color-up);
    --status-trouble: var(--uptime-color-trouble);
    --status-down: var(--uptime-color-down);
    --ui-uptime-key-size: 1.625rem;
    --tooltip-offset: 3.5rem;

    @apply font-sans antialiased;
  }

  .ui-uptime-list {
    @apply flex flex-wrap flex-row list-none p-0 m-0 items-center;
  }

  .ui-uptime-day {
    @apply h-40 relative flex-auto p-0 my-0 mx-1 bg-cool-black;
  }

  .ui-uptime-day span {
    @apply absolute text-p3 border rounded-lg border-light-grey;
    @apply py-12 px-16 shadow-tooltip text-cool-black;
    @apply bg-white text-left z-10 hidden;
    @apply overflow-y-hidden not-italic leading-tight;
    @apply whitespace-nowrap;

    transform: translateX(-50%);
    max-height: 12rem;
    bottom: 130%;
  }

  .ui-uptime-day:hover {
    @apply z-10 brightness-125;
  }

  .ui-uptime-day:hover span {
    display: block;
  }

  .ui-uptime-day.ui-uptime-align-left span {
    left: 0;
  }

  .ui-uptime-day.ui-uptime-align-right span {
    right: 0;
  }

  .ui-uptime-day .ui-uptime-width-wide {
    @apply whitespace-normal;
    width: 8rem;
  }

  .ui-uptime-day .ui-uptime-width-extra-wide {
    @apply whitespace-normal;
    width: 12rem;
  }

  .ui-uptime-seperator {
    @apply my-12 h-1 w-full relative;
    @apply sm:w-32 sm:h-80 sm:m-0 sm:bg-none;
  }

  .ui-uptime-seperator:before {
    content: "";
    left: 48%;
    @apply sm:absolute sm:h-full sm:w-1 sm:bg-dark-grey sm:z-0;
  }

  .ui-uptime-up {
    background: var(--status-up);
  }

  .ui-uptime-trouble {
    background: var(--status-trouble);
  }

  .ui-uptime-down {
    background: var(--status-down);
  }

  .ui-uptime-legend {
    @apply flex flex-col sm:flex-row sm:items-center;
  }

  .ui-uptime-key {
    @apply block mt-16 mr-20 bg-transparent;
    @apply sm:inline-block sm:mt-0;
    @apply font-medium text-p2 text-white block sm:inline-flex items-center;
  }

  .ui-uptime-key:first-child {
    @apply mt-0;
  }

  .ui-uptime-key::before {
    content: " ";
    width: var(--ui-uptime-key-size);
    height: var(--ui-uptime-key-size);
    @apply inline-block mr-16 bg-cool-black align-text-bottom rounded-full;
  }

  .ui-uptime-key.ui-uptime-up:before {
    background: var(--status-up);
  }

  .ui-uptime-key.ui-uptime-trouble:before {
    background: var(--status-trouble);
  }

  .ui-uptime-key.ui-uptime-down:before {
    background: var(--status-down);
  }

  .ui-uptime-footer {
    @apply mt-40 flex justify-between items-start flex-col;
    @apply sm:flex-row sm:items-center;
  }

  .ui-uptime-link-back {
    @apply mt-40 whitespace-nowrap;
    @apply sm:mt-0;
  }

  .ui-uptime-link-back a {
    @apply text-p1 text-gui-default font-medium no-underline;
  }
}
