@import "./styles/utils.css";
@import "./styles/buttons.css";
@import "./styles/legacy-buttons.css";
@import "./styles/dropdowns.css";
@import "./styles/forms.css";
@import "./styles/layout.css";
@import "./styles/shadows.css";
@import "./styles/text.css";

@layer components {
  /* Basis for icon component */
  .ui-icon-cool-black {
    stroke: var(--color-cool-black);
  }

  .ui-icon-white {
    stroke: var(--color-white);
  }

  .ui-icon-dark-grey {
    stroke: var(--color-dark-grey);
  }

  .ui-version-tag {
    @apply inline-block absolute align-top uppercase font-bold whitespace-nowrap;

    position: relative;
    vertical-align: super;
    margin-left: 3px;
    font-size: 8px;
  }

  .ui-section-spacing {
    @apply my-80 sm:my-96 md:my-128;
  }

  .ui-content-spacing {
    @apply my-40 sm:my-48 md:my-64;
  }

  .ui-divider-spacing {
    @apply my-20 sm:my-24 md:my-32;
  }

  .ui-container-padding {
    @apply px-24 py-40 sm:px-40 sm:py-48 md:p-64;
  }
}
