@import "./styles/properties.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .c-btn-alt {
    @apply text-btn2 font-medium block bg-gui-alt text-white rounded px-24 py-12;
    @apply hover:text-white hover:bg-gui-hover;
    @apply focus:text-white focus:bg-gui-focus focus:outline-none;
    @apply disabled:bg-gui-unavailable;
  }

  /* Basis for icon component */
  .icon-cool-black {
    stroke: var(--color-cool-black);
  }

  .icon-dark-grey {
    stroke: var(--color-dark-grey);
  }

  /* Extend how tailwind does group hover for icons */
  .group {
    &:hover {
      .group-hover\:icon-gui-hover {
        stroke: var(--color-gui-hover);
      }
    }
  }
}
