@import "./styles/properties.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {

  .c-input {
    @apply text-p2 font-light bg-light-grey rounded p-input w-full leading-none appearance-none border border-mid-grey transition-input;
    @apply hover:bg-white hover:shadow-input hover:border-transparent;
    @apply focus:bg-white focus:shadow-input focus:border-transparent focus:outline-gui-focus;
  }

  /* Basis for icon component */
  .icon-cool-black {
    stroke: var(--color-cool-black);
  }

  .icon-dark-grey {
    stroke: var(--color-dark-grey);
  }

  /* Extend how tailwind does group hover for icons */
  .group {
    &:hover {
      .group-hover\:icon-gui-hover {
        stroke: var(--color-gui-hover);
      }
    }

    &:focus {
      .group-focus\:icon-gui-focus {
        stroke: var(--color-gui-focus);
      }
    }
  }
}
