@import "./styles/properties.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .ui-btn {
    @apply text-white bg-cool-black text-btn2 font-sans font-medium inline-block rounded p-btn;
    @apply hover:text-white hover:bg-active-orange;
    @apply active:text-white active:bg-red-orange;
    @apply focus:text-white focus:bg-cool-black focus:outline-gui-focus;
    @apply disabled:text-mid-grey disabled:bg-gui-unavailable;
  }

  .ui-btn-secondary {
    @apply text-cool-black bg-white text-btn2 font-sans font-medium inline-block border-2 border-cool-black rounded p-btn;
    @apply hover:text-active-orange hover:border-active-orange hover:bg-white;
    @apply active:text-red-orange hover:border-red-orange active:bg-white;
    @apply focus:text-cool-black focus:border-cool-black focus:bg-white focus:outline-gui-focus;
    @apply disabled:text-mid-grey disabled:border-mid-grey disabled:bg-white;
  }

  .ui-input {
    @apply text-p2 font-light bg-light-grey rounded p-input w-full leading-none appearance-none border border-mid-grey transition-input;
    @apply hover:bg-white hover:shadow-input hover:border-transparent;
    @apply focus:bg-white focus:shadow-input focus:border-transparent focus:outline-gui-focus;
  }

  /* Additional helpers for gutters and margins for containers, based on the Figma grid */
  .ui-grid-gap {
    @apply gap-8 sm:gap-16 md:gap-24 xl:gap-32;
  }

  .ui-grid-px {
    @apply px-24 sm:px-32 md:px-40 lg:px-64;
  }

  .ui-grid-mx {
    @apply mx-24 sm:mx-32 md:mx-40 lg:mx-64;
  }

  /* Basis for icon component */
  .ui-icon-cool-black {
    stroke: var(--color-cool-black);
  }

  .ui-icon-dark-grey {
    stroke: var(--color-dark-grey);
  }

  /* Extend how tailwind does group hover for icons */
  .group {
    &:hover {
      .group-hover\:icon-gui-hover {
        stroke: var(--color-gui-hover);
      }
    }

    &:focus {
      .group-focus\:icon-gui-focus {
        stroke: var(--color-gui-focus);
      }
    }
  }
}
