@import "./styles/buttons.css";
@import "./styles/layout.css";
@import "./styles/text.css";
@import "./styles/forms.css";
@import "./styles/toggles.css";

@layer components {
  .ui-input {
    @apply text-p2 font-medium bg-light-grey rounded p-input w-full leading-none appearance-none border border-mid-grey transition-input;
    @apply hover:bg-white hover:shadow-input hover:border-transparent;
    @apply focus:bg-white focus:shadow-input focus:border-transparent focus:outline-gui-focus;
    @apply max-w-screen-sm;
  }

  /* Basis for icon component */
  .ui-icon-cool-black {
    stroke: var(--color-cool-black);
  }

  .ui-icon-white {
    stroke: var(--color-white);
  }

  .ui-icon-dark-grey {
    stroke: var(--color-dark-grey);
  }

  .ui-version-tag {
    @apply inline-block absolute align-top uppercase font-bold whitespace-nowrap;

    position: relative;
    vertical-align: super;
    margin-left: 3px;
    font-size: 8px;
  }

  .ui-section-spacing {
    @apply py-80 sm:py-96 md:py-128;
  }

  .ui-divider-spacing {
    @apply my-20 sm:my-24 md:my-32;
  }
}
