@layer components {
  .ui-footer-col-title {
    @apply text-overline2 p-menu-row-title font-normal uppercase tracking-widen-0.1;
  }

  .ui-footer-menu-row-link {
    @apply text-menu3 text-cool-black font-light hover:text-gui-hover block;
  }

  .ui-footer-link {
    @apply text-gui-default hover:text-gui-hover text-menu3 font-light;
  }

  .ui-footer-compliance-text {
    font-size: 12px;
  }

  .ui-footer-tick-icon {
    min-width: 1.5rem;
  }

  @media (max-width: 1040px) {
    .ui-footer-bottom-links {
      @apply pb-40;
    }
  }

  @media screen {
    .ui-footer-glassdoor {
      display: none;
    }
  }
}
