@layer components {
  .ui-checkbox-p1 {
    @apply flex items-start mb-16 font-sans font-medium;
  }

  .ui-checkbox-p2 {
    @apply flex items-start mb-12 font-sans font-medium;
  }

  .ui-checkbox-input {
    @apply opacity-0 absolute h-20 w-20;
  }

  .ui-checkbox-styled {
    @apply w-20 h-20 mr-16;
    @apply bg-white flex flex-shrink-0 justify-center items-center;
    @apply border border-dark-grey rounded-md focus-within:border-active-orange;
  }

  .ui-checkbox-styled-tick {
    @apply hidden text-white;
  }

  .ui-checkbox-label-p1 {
    @apply select-none;
    @apply text-p1 font-medium text-cool-black;
  }

  .ui-checkbox-label-p2 {
    @apply select-none;
    @apply text-p2 font-medium text-cool-black;
  }

  .ui-checkbox-input:focus + .ui-checkbox-styled {
    border-width: 0.125rem;
    @apply border-gui-focus;
  }

  .ui-checkbox-input:checked + .ui-checkbox-styled {
    @apply bg-active-orange border-dark-grey border;
  }

  .ui-checkbox-input:checked + .ui-checkbox-styled svg {
    @apply block;
  }

  .ui-checkbox-input:disabled + .ui-checkbox-styled {
    @apply bg-gui-unavailable border;
  }

  .ui-textarea {
    @apply font-sans font-medium text-cool-black text-p1;
    @apply p-input mb-16;
    @apply bg-light-grey border-mid-grey transition-input border rounded block w-full;
    @apply hover:bg-white hover:shadow-input hover:border-transparent;
    @apply focus:bg-white focus:shadow-input focus:border-transparent focus:outline-gui-focus;
  }

  .ui-textarea::placeholder {
    /* CSS vars don't work in ::placeholder in Webkit :( */
    /* color: var(--text-dark-grey); */
    color: #76767c;
  }

  .ui-toggle {
    @apply h-32 w-[56px] rounded-full relative inline-block;
  }

  .ui-toggle:has(:disabled) {
    @apply pointer-events-none;
  }

  .ui-toggle input {
    @apply w-0 h-0 opacity-0;
  }

  .ui-toggle-slider {
    @apply absolute cursor-pointer inset-0 transition-all bg-neutral-600 rounded-full;
  }

  .ui-toggle-slider:before {
    @apply absolute h-[28px] w-[28px] left-2 bottom-2 bg-white rounded-full transition-transform drop-shadow-toggle;
    content: "";
  }

  .ui-toggle input:checked + .ui-toggle-slider {
    @apply bg-orange-600;
  }

  .ui-toggle input:disabled + .ui-toggle-slider {
    @apply bg-gui-unavailable;
  }

  .ui-toggle input:checked + .ui-toggle-slider:before {
    @apply translate-x-24;
  }

  .ui-toggle input:disabled + .ui-toggle-slider:before {
    @apply bg-neutral-500;
  }

  .ui-input {
    @apply ui-text-p2 font-medium bg-light-grey rounded p-input w-full leading-none appearance-none border border-mid-grey transition-colors placeholder-neutral-800;
    @apply hover:border-neutral-800 focus:bg-white focus:outline-gui-focus;
    @apply max-w-screen-sm;
  }

  .ui-input-dark {
    @apply bg-neutral-1200 hover:bg-neutral-1200 focus:bg-neutral-1000 text-neutral-300;
  }

  .ui-input:disabled {
    @apply bg-gui-unavailable placeholder-neutral-500 text-neutral-500;
  }

  .ui-input-dark:disabled {
    @apply text-neutral-800 placeholder-neutral-800;
  }

  .ui-input {
    @apply invalid:border-gui-error-red;
  }
}
