@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "@ably/ui/reset/styles.css";
@import "@ably/ui/core/Meganav/component.css";
@import "@ably/ui/core/ContactFooter/component.css";
@import "@ably/ui/core/FeatureFooter/component.css";
@import "@ably/ui/core/Footer/component.css";
@import "@ably/ui/core/Showcase/component.css";
@import "@ably/ui/core/Code/component.css";
@import "@ably/ui/core/Uptime/component.css";
@import "@ably/ui/core/Notice/component.css";
@import "@ably/ui/core/Flash/component.css";
@import "@ably/ui/core/CookieMessage/component.css";
@import "@ably/ui/core/FeaturedLink/component.css";
@import "@ably/ui/core/Slider/component.css";
@import "@ably/ui/core/styles.css";

@layer base {
  @font-face {
    font-family: "NEXT Book";
    src: url("~@ably/ui/core/fonts/NEXT-Book-Light.eot");
    src: url("~@ably/ui/core/fonts/NEXT-Book-Light.eot?iefix")
        format("embedded-opentype"),
      url("~@ably/ui/core/fonts/NEXT-Book-Light.woff2") format("woff2"),
      url("~@ably/ui/core/fonts/NEXT-Book-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "NEXT Book";
    src: url("~@ably/ui/core/fonts/NEXT-Book-Light-Italic.eot");
    src: url("~@ably/ui/core/fonts/NEXT-Book-Light-Italic.eot?#iefix")
        format("embedded-opentype"),
      url("~@ably/ui/core/fonts/NEXT-Book-Light-Italic.woff2") format("woff2"),
      url("~@ably/ui/core/fonts/NEXT-Book-Light-Italic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: "NEXT Book";
    src: url("~@ably/ui/core/fonts/NEXT-Book-Medium.eot");
    src: url("~@ably/ui/core/fonts/NEXT-Book-Medium.eot?#iefix")
        format("embedded-opentype"),
      url("~@ably/ui/core/fonts/NEXT-Book-Medium.woff2") format("woff2"),
      url("~@ably/ui/core/fonts/NEXT-Book-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "NEXT Book";
    src: url("~@ably/ui/core/fonts/NEXT-Book-Medium-Italic.eot");
    src: url("~@ably/ui/core/fonts/NEXT-Book-Medium-Italic.eot?#iefix")
        format("embedded-opentype"),
      url("~@ably/ui/core/fonts/NEXT-Book-Medium-Italic.woff2") format("woff2"),
      url("~@ably/ui/core/fonts/NEXT-Book-Medium-Italic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
  }
}

@layer components {
  .pi-inline-code {
    font-size: 0.9375rem;
    padding: 0 0.125rem;
    @apply font-mono text-cool-black bg-cool-black text-white whitespace-nowrap;
  }

  .pi-checkered-bg {
    --size: 0.25rem;
    --double: calc(var(--size) * 2);
    --bg: #eee;
    --fg: #ddd;
    background: linear-gradient(
        45deg,
        var(--fg) 25%,
        transparent 25.1%,
        transparent 74.9%,
        var(--fg) 75%
      ),
      linear-gradient(
        45deg,
        var(--fg) 25%,
        transparent 25.1%,
        transparent 74.9%,
        var(--fg) 75%
      ),
      var(--bg);
    background-repeat: repeat, repeat;
    background-position: 0 0, var(--size) var(--size);
    background-size: var(--double) var(--double), var(--double) var(--double);
  }
}
