@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "@ably/ably-ui/reset/styles.css";
@import "@ably/ably-ui/core/Meganav/component.css";
@import "@ably/ably-ui/core/ContactFooter/component.css";
@import "@ably/ably-ui/core/FeatureFooter/component.css";
@import "@ably/ably-ui/core/Footer/component.css";
@import "@ably/ably-ui/core/Showcase/component.css";
@import "@ably/ably-ui/core/Code/component.css";
@import "@ably/ably-ui/core/Uptime/component.css";
@import "@ably/ably-ui/core/Notice/component.css";
@import "@ably/ably-ui/core/Flash/component.css";
@import "@ably/ably-ui/core/CookieMessage/component.css";
@import "@ably/ably-ui/core/styles.css";

@font-face {
  font-family: "NEXT Book";
  src: url("~@ably/ably-ui/core/fonts/NEXT-Book-Light.eot");
  src: url("~@ably/ably-ui/core/fonts/NEXT-Book-Light.eot?iefix")
      format("embedded-opentype"),
    url("~@ably/ably-ui/core/fonts/NEXT-Book-Light.woff2") format("woff2"),
    url("~@ably/ably-ui/core/fonts/NEXT-Book-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NEXT Book";
  src: url("~@ably/ably-ui/core/fonts/NEXT-Book-Light-Italic.eot");
  src: url("~@ably/ably-ui/core/fonts/NEXT-Book-Light-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("~@ably/ably-ui/core/fonts/NEXT-Book-Light-Italic.woff2")
      format("woff2"),
    url("~@ably/ably-ui/core/fonts/NEXT-Book-Light-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "NEXT Book";
  src: url("~@ably/ably-ui/core/fonts/NEXT-Book-Medium.eot");
  src: url("~@ably/ably-ui/core/fonts/NEXT-Book-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("~@ably/ably-ui/core/fonts/NEXT-Book-Medium.woff2") format("woff2"),
    url("~@ably/ably-ui/core/fonts/NEXT-Book-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NEXT Book";
  src: url("~@ably/ably-ui/core/fonts/NEXT-Book-Medium-Italic.eot");
  src: url("~@ably/ably-ui/core/fonts/NEXT-Book-Medium-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("~@ably/ably-ui/core/fonts/NEXT-Book-Medium-Italic.woff2")
      format("woff2"),
    url("~@ably/ably-ui/core/fonts/NEXT-Book-Medium-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
