@layer components {
  .ui-meganav-wrapper {
    /* Define values for new stacking context defined by position: fixed */
    --stacking-context-meganav-dropdown: 10;
    --stacking-context-meganav-mobile-panel: 20;

    z-index: var(--stacking-context-page-meganav);

    @apply fixed top-0 w-full;
    @apply font-sans antialiased transition-colors;
  }

  .ui-meganav {
    height: var(--ui-meganav-height);

    @apply flex items-center justify-between max-w-screen-xl mx-auto;
  }

  .ui-meganav-panel,
  .ui-meganav-mobile-dropdown,
  .ui-meganav-panel-account {
    z-index: var(--stacking-context-meganav-dropdown);

    @apply absolute left-0 right-0;
    @apply border-t border-mid-grey shadow-container;
  }

  .ui-meganav-panel {
    @apply bg-white;
  }

  .ui-meganav-panel-mobile {
    z-index: var(--stacking-context-meganav-mobile-panel);

    /* Prevents momentum-based scrolling https://devdocs.io/css/-webkit-overflow-scrolling */
    -webkit-overflow-scrolling: auto;

    @apply pt-16 bg-white border-0;
    @apply border-t border-mid-grey shadow-container;
    @apply fixed left-0 right-0 overflow-y-auto top-64;
  }

  .ui-meganav-panel-account {
    left: auto;
    min-width: 20rem;
    @apply bg-white rounded-t-none;
  }

  .ui-meganav-panel-split-bg {
    background: linear-gradient(to right, #fafafb 33%, white 33%, white 100%);
  }

  .ui-meganav-link {
    @apply block font-medium text-menu2;
    @apply px-0 py-20 mr-12 lg:mr-24;
    @apply hover:text-gui-hover focus:text-gui-focus focus:outline-none;
    @apply transition-colors;
  }

  .ui-meganav-item {
    flex: 1 0 auto;
  }

  .ui-meganav-mobile-link {
    @apply relative p-menu-row -left-8 w-extend-8;
    @apply block font-medium text-left text-menu2 text-cool-black;
    @apply flex items-center;
    @apply focus:text-gui-focus focus:outline-none;
  }

  .ui-meganav-account-link {
    @apply relative block px-8 py-8 font-light rounded hover:bg-light-grey hover:text-gui-hover -left-8 text-menu3 w-extend-8;
  }

  .ui-meganav-content {
    @apply max-w-screen-xl py-24 mx-auto lg:py-32;
    @apply grid grid-cols-1;
    @apply px-24 md:px-32 lg:px-32 xl:px-64;
  }

  /* This is implemented not as padding so we can change the color of just this space, while keeping the grid
     as close to the designs as possible */
  .ui-meganav-content-spacer {
    @apply self-stretch flex-grow-0 flex-shrink-0 hidden md:block md:w-32 lg:w-32 xl:w-64;
  }

  .ui-meganav-media {
    @apply relative block px-8 py-8 rounded hover:bg-light-grey -left-8 w-extend-8;
  }

  .ui-meganav-media-with-image {
    grid-template-columns: max-content 1fr;
    grid-template-rows: min-content 1fr;

    @apply relative block px-8 py-8 rounded hover:bg-light-grey -left-8 w-extend-8;
    @apply grid gap-x-16;
  }

  .ui-meganav-media-heading {
    @apply font-medium text-menu3 text-cool-black group-hover:text-gui-hover group-focus:text-gui-focus;
  }

  .ui-meganav-media-copy {
    @apply font-light text-p3 text-dark-grey;
  }

  .ui-meganav-overline {
    @apply text-overline2 text-cool-black uppercase font-medium tracking-widen-0.15 p-overline;
  }

  .ui-meganav-hr {
    @apply my-0 text-mid-grey;
  }
}

.HW_badge {
  width: 1.25rem !important;
  height: 1.25rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 14px !important;
  top: 2px !important;
  left: 20px !important;
  transition: none !important;
  pointer-events: none !important; 
}

.HW_animated {
  animation: none !important;
}

.invisible .HW_badge {
  visibility: hidden !important;
  display: none !important;
}

.invisible .HW_frame {
  visibility: hidden !important;
  display: none !important;
}

.HW_badge_cont.HW_visible {
  display: block !important;
}

.HW_badge_cont {
  visibility: unset !important;
  display: none !important;
  pointer-events: none !important; 
}

[class^="HW_widget_component_widget-"] {
  pointer-events: none !important; 
}
