/* primary */

.c-cool-black {
  color: #03020d;
}

.c-active-orange {
  color: #ff5416;
}

.c-white {
  color: #ffffff;
}

/* secondary */

.c-electric-cyan {
  color: #4af7ff;
}

.c-zingy-green {
  color: #08ff13;
}

.c-bright-red {
  color: #ff2739;
}

.c-jazzy-pink {
  color: #ff17d2;
}

/* neutrals */

.c-light-grey {
  color: #f5f5f6;
}

.c-mid-grey {
  color: #dbdbdc;
}

.c-dark-grey {
  color: #76767c;
}

.c-charcoal-grey {
  color: #292831;
}

/* gui */

.c-gui-blue {
  color: #0073e6;
}

.c-gui-blue-focus {
  color: #0867c4;
}

.c-gui-blue-down {
  color: #0657a5;
}

.c-gui-blue-viewed {
  color: #4887c2;
}

.c-gui-grey-unavailable {
  color: #a8a8a8;
}
