.mb-auto {
  margin-bottom: 1rem;
}

.mb-none {
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: calc(4 / 16 * 1rem);
}

.mb-8 {
  margin-bottom: calc(8 / 16 * 1rem);
}

.mb-24 {
  margin-bottom: calc(24 / 16 * 1rem);
}

.mb-32 {
  margin-bottom: calc(32 / 16 * 1rem);
}

.mb-40 {
  margin-bottom: calc(40 / 16 * 1rem);
}

.mb-48 {
  margin-bottom: calc(48 / 16 * 1rem);
}

.mb-64 {
  margin-bottom: calc(64 / 16 * 1rem);
}
