/*
  The typography is fully relative to support user defined font sizes and zoom properly.
  We assume the common browser default of 16px and use 16 for calculations. Note this not customizable by default; the end
  values are produced in REM's.
  See https://www.24a11y.com/2019/pixels-vs-relative-units-in-css-why-its-still-a-big-deal/ for an excellent summary why.
*/

/* utility */

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.subpixel-antialiased {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

/* font families */

.font-next {
  font-family: "NEXT Book", Arial, Helvetica, sans-serif;
}

/* font-size */

/*
  The first value in the calculation is the desired px value.
  Note that these calculations will be simple values after processing thanks to postcss-calc
*/

.fs-14 {
  font-size: calc(14 / 16 * 1rem);
}

.fs-16 {
  font-size: 1rem;
}

.fs-18 {
  font-size: calc(18 / 16 * 1rem);
}

.fs-24 {
  font-size: calc(24 / 16 * 1rem);
}

.fs-28 {
  font-size: calc(28 / 16 * 1rem);
}

.fs-36 {
  font-size: calc(36 / 16 * 1rem);
}

.fs-48 {
  font-size: calc(48 / 16 * 1rem);
}

.fs-64 {
  font-size: calc(64 / 16 * 1rem);
}

/* line-height */
/* value represents absolute, pixel value */

.lh-1 {
  line-height: 1;
}

.lh-1_11 {
  line-height: 1.11;
}

.lh-1_125 {
  line-height: 1.125;
}

.lh-1_14 {
  line-height: 1.14;
}

.lh-1_16 {
  line-height: 1.16;
}

.lh-1_21 {
  line-height: 1.21;
}

.lh-1_22 {
  line-height: 1.22;
}

.lh-1_25 {
  line-height: 1.25;
}

.lh-1_28 {
  line-height: 1.28;
}

.lh-1_42 {
  line-height: 1.42;
}

.lh-1_43 {
  line-height: 1.43;
}

.lh-1_44 {
  line-height: 1.44;
}

.lh-1_5 {
  line-height: 1.5;
}

/* font-weight */

.fw-light {
  font-weight: 300;
}

.fw-medium {
  font-weight: 500;
}

/* letter-spacing */

/*
  lst - letter spacing tighten
  lsw - letter spacing widen
*/

.ls-auto {
  letter-spacing: 0;
}

.lst-0_025 {
  letter-spacing: -0.025em;
}

.lst-0_02 {
  letter-spacing: -0.02em;
}

.lst-0_01 {
  letter-spacing: -0.01em;
}

.lst-0_005 {
  letter-spacing: -0.005em;
}

.lst-0_0025 {
  letter-spacing: -0.0025em;
}

.lsw-0_1 {
  letter-spacing: 0.1em;
}

.lsw-0_15 {
  letter-spacing: 0.15em;
}

/* text-transform */

.tt-uppercase {
  text-transform: uppercase;
}
